 .overlay {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: center;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 27, 27, 0.541);
  align-items: center;
}

.modal_top {
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
}

.upload_hr{
    margin-top: 15px;
    background-color: rgb(191, 181, 181);
}

.modal_container {
  display: flex;
  flex-direction: column;
  width: 530px;
  margin-left: 17rem;
  height: 500px;
  background-color: #fff;
  transition: 2s ease-in-out;
  border-radius: 8px;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
}


.button {
  position: relative;
  left: 30%;
  width: 30px;
  text-align: center;
  height: 30px;
  border-radius: 100%;
  background-color: rgb(202, 199, 199);
  font-size: 20px;
  color: black;
  cursor: pointer;
}

.cover {
    left: 26%;
}

.upload_center{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 2.5rem;
}

.dropzoneContainer {
    display: flex;
    border: 1px dashed #ced4d9;
    border-radius: 5px;
    color: #6c757d;
    align-items: center;
    width: 450px;
    height: 250px;
    background-color: rgb(255, 255, 248);
    justify-content: center;
}

.upload_middle{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.upload_input {
    display: none;
}

.upload_button {
    display: flex;
    cursor: pointer;
    align-items: center;
    margin: 35px;
    height: 35px;
    justify-content: center;
    top: 3rem;
    position: relative;
    border-radius: 5px;
    text-decoration: none;
    background-color: var(--color-primary);
}

.submit_btn{
    background-color: transparent; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 430px;
}

.upload_button:hover {
    background-color: rgb(68, 52, 212);
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected_image {
    position: absolute;
    bottom: 18rem;
    object-fit: cover;
    width: 425px;
    height: 220px;
}

.cancel {
    font-size: 18px;
    position: absolute;
    display: flex;
    background-color:white;
    width: 34px;
    align-items: center;
    justify-content: center;
    height: 34px;
    border-radius: 100%;
    text-align: center;
    bottom: 29.2rem;
    right: 28.5%;
    cursor: pointer;
    color: #b22929;
}

@media screen and (max-width: 1220px) {
    .cancel {
        right: 21.5%;
    }
}
@media screen and (max-width: 820px) {
    .modal_container {
        width: 415px;
        height: 450px;
    }
    .button {
        left: 23%;
    }
    .cover {
        left: 20%;
    }
    .dropzoneContainer {
        width: 360px;
        height: 240px;
    }
    .upload_button {
        margin: 28px;
    }
    .selected_image {
        position: absolute;
        bottom: 16.5rem;
        object-fit: cover;
        width: 330px;
        height: 205px;
    }
    .cancel {
        bottom: 26.6rem;
        right: 13.8%;
    }
}

@media screen and (max-width: 600px) {
    .modal_container {
        margin-right: 17rem;
    }
    .button {
        left: 24%;
    }
    .cover {
        left: 20%;
    }
    .selected_image {
        bottom: 16.5rem;
    }
    .cancel {
        bottom: 26.6rem;
        right: 20%;
    }
}