.overlay {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(27, 27, 27, 0.541);
    align-items: center;
    z-index: 999;
}

.modal_top {
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
}

.upload_hr {
    margin-top: 15px;
    background-color: rgb(191, 181, 181);
}

.modal_container {
    display: flex;
    flex-direction: column;
    width: 530px;
    margin-left: 17rem;
    height: 500px;
    background-color: #fff;
    transition: 2s ease-in-out;
    border-radius: 8px;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
}

.button {
    position: relative;
    left: 30%;
    width: 30px;
    text-align: center;
    height: 30px;
    border-radius: 100%;
    background-color: rgb(202, 199, 199);
    font-size: 20px;
    color: red;
    cursor: pointer;
}

.cover {
    left: 26%;
}

.upload_center {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 2.5rem;
}

.dropzoneContainer {
    display: flex;
    border: 1px dashed #ced4d9;
    border-radius: 5px;
    color: #6c757d;
    align-items: center;
    width: 450px;
    height: 250px;
    background-color: rgb(255, 255, 248);
    justify-content: center;
}

.upload_middle {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.upload_input {
    display: none;
}

.button_container {
    align-items: center;
    display: flex;
    justify-content: center;
    top: 5rem;
    position: relative;
}

.upload_button {
    display: flex;
    cursor: pointer;
    align-items: center;
    height: 35px;
    margin-top: 5px;
    justify-content: center;
    position: relative;
    border-radius: 5px;
    text-decoration: none;
    background-color: var(--color-primary);
}

.submit_btn {
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 450px;
}

.upload_button:hover {
    background-color: rgb(68, 52, 212);
}

.image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.selected_image {
    position: relative;
    top: 2.3rem;
    margin-left: 2.1rem;
    object-fit: cover;
    width: 450px;
    height: 250px;
}

.cancel {
    font-size: 18px;
    position: relative;
    display: flex;
    background-color: white;
    width: 34px;
    align-items: center;
    justify-content: center;
    height: 34px;
    border-radius: 100%;
    text-align: center;
    bottom: 4rem;
    right: 9%;
    cursor: pointer;
    color: #b22929;
}

@media screen and (max-width: 820px) {
    .modal_container {
        width: 415px;
        height: 450px;
        margin-right: 4rem;
    }
    .button {
        left: 23%;
    }
    .cover {
        left: 20%;
    }
    .dropzoneContainer {
        width: 360px;
        height: 240px;
    }
    .upload_button {
        margin: 26px;
    }
    .selected_image {
        margin-left: 2rem;
        width: 360px;
        height: 240px;
    }
}

@media screen and (max-width: 600px) {
    .modal_container {
        margin-right: 17rem;
    }
    .button {
        left: 24%;
    }
    .cover {
        left: 20%;
    }
}
