.user_container {
    display: flex;
    display: flex;
    flex-direction: row;
    min-height: var(--container-height);
    padding-top: 26px;
}

.side_container {
    flex: 1.05;
    margin-right: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: center;
}

.user_main_container {
    flex: 2.4;
}

.user_profile_board {
    background-color: rgba(255, 255, 255, 1);
    width: 85%;
    border-radius: 18px;
    padding-bottom: 50px;
    position: relative;
}
.user_cover_bg {
    height: 300px;
    width: 100%;
    border-radius: 20px;
    background-blend-mode:hard-light;
    background-color: rgba(121, 144, 225, 1);
}

.user_cover_photo {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 15%;
    position: relative;
    height: 300px;
    border-radius: 18px;
    opacity: 40%;
    object-fit: cover;
}

.cover_icons {
    display: flex;
    position: relative;
    background-color: rgba(217, 217, 217, 1);
    top:-5rem;
    transform: scale(1.38);
    color: rgb(69, 67, 67);
    left:88%;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    opacity: 85%;
    border-radius: 100%; 
    cursor: pointer;
}

.cover_icons:hover, .user_profile_icons:hover{
    background-color: rgb(190, 183, 183);
    transition: 1s ease-out;
}
.unavailiable {
    top:5.5rem;
}

.user_profile_bg {
    position: relative;
    left: 3.6rem;
    display: flex;
    bottom: 4rem;
}

.user_profile_photo {
    object-fit: cover;
    width: 165px;
    height: 170px;
    border-radius: 10%;
}

.user_profile_icons {
    display: flex;
    position: relative;
    background-color: rgba(217, 217, 217, 1);
    padding: 5px 5px 5px 5px;
    top:6.3rem;
    transform: scale(1.2);
    color: rgb(69, 67, 67);
    right:1.7rem;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    opacity: 85%;
    cursor: pointer;
    border-radius: 100%;   
}

.user_ct_holder {
    display: flex;
    margin-right: 65px;
    flex-direction: row;
}

.profile_mid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 3;  
    margin-left: 65px;
    bottom: 0.8rem;
}
.profile_user_name {
    text-align: center;
    font-weight: 700;
    color: rgba(151, 154, 150, 1);
    font-size: 32px;
    text-decoration: underline  1px;
    text-underline-offset: 7px;
}
.lenthy__user_name {
    /* margin-right: 30px; */
    font-size: 29px;
}

.joined  {
    display: flex;
    flex-direction: row;
    font-size: 21px;
    gap: 0.4rem;
    color: rgba(151, 154, 150, 1);
    position: relative;
    align-items: center;
    justify-content: center;
}

.other_details {
    position: relative;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    gap: 0.4rem;
}

.item_hr{
    position: relative;
    margin-left: 10px;
    right: 5px;
    width: 280px;
}
.profile_item_icon{
    top: 0.4rem;
    position: relative;
    color: rgb(123, 124, 123);
    transform: scale(1.1);
}
.phone_icon {
    font-weight: 700;
    color: black;
}
.profile_items_icon {
    width: 18px;
    height: 18px;
    margin-left: 5px;
}

.add_contact_link {
    text-decoration: none;
}

.profile_detail {
    position: relative;
    color:  rgba(151, 154, 150, 1);
    font-weight: 400;
    font-size: 18px;
    margin-left: 25px;
}

.profile_btn_cnt {
    display: flex;
    padding-top: 50px;
    flex-direction: row;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.profile_btn {
    width: 180px;
    padding-top: 5px;
    height: 40px;
    background-color: var(--color-primary);
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    font-size: 15px;
}

.profile_btn:hover {
    background-color: rgb(10, 10, 202);
    transition: ease-in-out 0.2s;
}
.profile_link_btn {
    display: flex;
    text-decoration: none;
    padding-top: 2px;
    color: #fff;
    align-items: center;
    justify-content: center;
}
.edit_icon {
    margin-left: 8px;
    width: 18px;
}


/* CHANGE PASSWORD */
.change_password {
    display: flex;
    align-items: center;
    min-height: var(--container-height);
    justify-content: center;
}

.change_password_container {
    background: #FFFFFF;
    bottom: 2.5rem;
    position: relative;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    width: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 355px;
}
.password_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}

.password_input {
    display: flex;
    border-radius: 30px;
    /* box-shadow: 2px 2px 2px var(--color-primary); */
    border: 1px solid rgba(151, 154, 150, 1);
    height: 40px;
    align-items: center;
    justify-content: center;
    width: 270px;
}
.password__input {
    margin-bottom: 4px;
    font-size: 18px;
    text-align: center;
}

.password_container > button {
    width: 270px;
    height: 45px;
    background-color: var(--color-primary);
    font-size: 16px;
    border: 3px solid;
    border-radius: 20px;
    color: #fff;
    outline: 0;
    transition: ease-in-out 0.3s;
}

.password_container>button:hover {
    background-color: rgb(58, 45, 173);
    cursor: pointer;
}

.error_msg {
    color: red;
    font-size: 12px;
}

.password_change_success {
    display: flex;
    min-height: var(--container-height);
    align-items: center;
    justify-content: center;
}

.password_change_container {
    background: #FFFFFF;
    bottom: 2rem;
    position: relative;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    width: 440px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 365px;
}
.password_span {
    position: relative;
    bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    flex-direction: column;
}

.password_span >p {
    font-weight: 700;
    font-size: 20px;
    width: 350px;
    color: rgba(69, 90, 100, 1);
    text-align: center;
}

.success_img {
    width: 60px;
    height: 65px;
}



 @media screen and (max-width: 1350px) {
    .user_ct_holder {
        margin-right: 15px;
    }
} 
 @media screen and (max-width: 970px) { 
     .user_ct_holder {
        margin-right: 0px;
    }
 } 
 @media screen and (max-width: 870px) {
    .cover_icons {
        left: 82%;
    }
    .user_ct_holder {
        display: flex;
        margin-right: 65px;
        flex-direction: column;
    }
    .user_profile_bg {
        left: 3rem;
    }
    .profile_mid {
        top: -2rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
 } 

@media screen and (max-width: 745px) {
    .user_profile_bg {
        left: 2rem;
    }
 } 

 @media screen and (max-width: 600px) {
    .side_container {
        display: none;
    }
    .user_profile_board {
        width: 80%;
        margin-left: 40px;
    }
   .other_details {
        margin-left: 20px;
    }
    .profile_item_icon{
        top: 0.4rem;
        transform: scale(1);
    }
    .profile_detail {
        font-weight: 400;
        font-size: 18px;
        margin-left: 25px;
    }
    .user_profile_board {
        height: 900px;
    }

    /*======= Password ========*/
    .change_password_container {
        width: 300px;
        height: 270px;
    }
    .password_container{
        gap: 1.5rem;
    }
    .password_input {
        height: 35px;
        width: 240px;
    }
    .password__input {
        padding-top: 1px;
        font-size: 18px;
        margin-left: 6px;
    }
    .password_container > button {
        width: 240px;
        height: 41px;
    }
    .password_change_container {
        bottom: 6rem;
        width: 300px;
        height: 270px;
    }
    .password_span >p {
        font-weight: 700;
        font-size: 15px;
        width: 230px;
        color: rgba(69, 90, 100, 1);
        text-align: center;
    }
    .success_img {
        width: 50px;
        height: 55px;
    }
}


 @media screen and (max-width: 450px) {
    .cover_icons {
        transform: scale(1.1);
    }
    .profile_btn_cnt {
        gap: 1rem;
    }
    .profile_btn {
        width: 140px;
        height: 40px;
    }
    .edit_icon {
        width: 16px;
    }
}
@media screen and (max-width: 435px) {
   .profile_mid {
        left: 1.3rem;
    }    
    .profile_user_name {
        font-weight: 700;
        font-size: 30px;
    }
    .joined  {
        font-size: 18px;
    }
 } 
@media screen and (max-width: 360px) {
   .item_hr{
        width: 215px;
    }   
    .cover_icons {
        left: 78%;
    }
    .other_details {
        margin-left: 10px;
        gap: 0.4rem;
    }
    .profile_item_icon{
        transform: scale(0.85);
    }
    .profile_items_icon {
        width: 15px;
        height: 15px;
    }
    .profile_detail {
        font-size: 15px;
        margin-left: 15px;
    }
 }    
