.register_page_container {
    min-height: var(--container-height);
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.register_page_container::before {
    content: '';
    background-image: url('../../../../public//register.png.png');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 7%;
}

.register_top {
    padding-top: 75px;
}

.register_container {
    background: #ffffff;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    width: 380px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 620px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 92%;
    flex-direction: row;
    height: 2em;
    border-radius: 30px;
    line-height: 3;
    margin-left: 10px;
    overflow: hidden;
}

select {
    color: rgba(151, 154, 150, 1);
    flex: 1;
    padding: 0 0.5em;
    cursor: pointer;
}

.select::after {
    content: '\25BC';
    padding-top: 2px;
    display: flex;
    align-items: center;
    cursor: pointer;
    pointer-events: none;
    transition: 0.25s all ease;
}
.select:hover:after {
    color: var(--color-primary);
}

.text_link_reg {
    font-size: 13px;
    text-decoration: none;
    color: rgba(151, 154, 150, 1);
    transition: ease-in-out 0.3s;
}

.register_form_inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

/*  */

.success_container {
    background-color: rgba(252, 252, 254, 1);
    height: var(--container-height);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.success_ct {
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(151, 154, 150, 1);
}

.success_ct > h4 {
    font-size: 35px;
    font-weight: 700;
}

.success_ct > p {
    font-size: 20px;
    font-weight: 500;
}

/*     ======== MEDIA QUERIES (SMALER DEVICES ======= */

@media screen and (max-width: 580px) {
    .register_page_container {
        width: 100%;
    }
    * .success_ct > h4 {
        font-size: 23px;
        font-weight: 500;
    }

    .success_ct > p {
        font-size: 15px;
        font-weight: 400;
    }

    .register_container {
        width: 250px;
        height: 550px;
        padding-top: 14px;
    }

    .input_container {
        height: 34px;
    }
    .select {
        margin-left: 1px;
    }
    select {
        font-size: 14px;
    }
    .text_link_reg {
        line-height: 10px;
    }
}

@media (max-width: 320px) {
    .register_container {
        height: 550px;
        width: 90%;
    }

    .register_form_inputs {
        gap: 1.5rem;
    }
    .input_container {
        height: 29px;
    }
    .text_link_reg {
        font-size: 10px;
    }
    .select {
        height: 1.5em;
    }
}
