.page_layout_container {
    display: flex;
    flex-direction: row;
    min-height: var(--container-height);
    padding-top: 26px;
}

.page_right {
    flex: 1.2;
    justify-content: center;
    display: flex;
}

.page_center {
    flex: 1.5;
}

.page_left {
    flex: 1.2;
}


  @media screen and (max-width: 600px) {

    .page_right {
        display: none;
    }
    .page_left {
        display: none;
    }
}