.page_layout_container {
    display: flex;
    flex-direction: row;
    min-height: var(--container-height);
    padding-top: 26px;
}

.page_right {
    flex: 1.2;
    justify-content: center;
    overflow-x: hidden;
    display: flex;
}

.page_center {
    flex: 1.5;
    margin: 0 45px 0 0;
}

.page_left {
    flex: 1.2;
}

@media screen and (max-width: 600px) {
    .page_right {
        display: none;
    }
    .page_left {
        display: none;
    }
    .page_center {
        margin: 0;
    }
    .page_layout_container {
        padding-top: 6px;
    }
}
