.profile_page {
    display: flex;
    z-index: 1;
    position: fixed;
    width: 252px;
    margin-right: 30px;
}

.profile_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 1px 5px rgb(0 0 0 / 4%), 0 1px 3px rgb(0 0 0 / 5%);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px 10px 10px 10px;
    height: 504px;
}

.cover_bg {
    height: 210px;
    border-radius: 10px 10px 0 0;
    background-color: rgba(121, 144, 225, 1);
}

.profile_bg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 3rem;
}

.profile_photo {
    object-fit: cover;
    height: 95px;
    width: 85px;
    border-radius: 20%;
}

.unav {
    border-radius: 10%;
}

.user_name {
    display: flex;
    position: relative;
    top: -0.3rem;
    flex-direction: row;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
}

.user_name > span {
    font-size: 18px;
    text-align: center;
    display: flex;
    font-weight: 700;
    color: rgba(151, 154, 150, 1);
    align-items: center;
    justify-content: center;
}
.lenthy_user_name {
    font-size: 15px;
    line-height: 28px;
    white-space: nowrap;
}
.lengthy_user_name {
    font-size: 15px;
}

.profile_others {
    color: rgba(151, 154, 150, 1);
    padding-top: 10px;
    display: flex;
    font-weight: 500;
    flex-direction: column;
    gap: 0.3rem;
    font-size: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.joined_at {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 13px;
}

.side_bar_btn {
    padding-top: 30px;
    bottom: 4rem;
    position: absolute;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.profile_button {
    width: 55%;
    border-radius: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    transition: ease-in-out 0.3s;
}
.profile_button:hover {
    background-color: rgb(10, 10, 202);
    transition: ease-in-out 0.2s;
}

/*     ======== MEDIA QUERIES (SMALER DEVICES ======= */
@media screen and (max-width: 980px) {
    .lenthy_user_name {
        font-size: 19px;
    }
    .profile_page {
        width: 190px;
        margin-right: 30px;
    }
    .profile_photo {
        height: 75px;
        width: 65px;
    }
}
@media screen and (max-width: 780px) {
    .profile_others {
        font-size: 14px;
    }
    .joined_at {
        font-size: 12px;
        gap: 0.3rem;
    }
    .profile_button {
        width: 80%;
        white-space: nowrap;
        font-size: 13px;
    }
    .lenthy_user_name {
        font-size: 15px;
    }
}
