.side_bar_container {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 999;
    position: fixed;
}

.side_bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    margin-left: 50px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 6px 6px 6px 6px;
}

.side_bar_top {
    width: 100%;
    height: 62px;
    border-radius: 7px 7px 0px 0px;
    background: #7990E1;
}

.side_bar_top > h3 {
    padding-top: 10px;
    margin-left: 35px;
    color: #fff;
    font-weight: 700 bold;
    font-size: 28px;
}

.menu_items{
    padding-top: 10px;
    gap: 0.17rem;
    text-align: left;
    font-size: 21px;
    line-height: 30px;
}

.items {
    display: flex;
    padding: 15px 0px 0px 0px;
    flex-direction: column;
    color: rgba(137, 138, 141, 1);
    font-weight: 500;
    margin-left: 35px;
}
.items > h3 {
    font-size: 26px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
}
.side_bar_nav{
    text-decoration: none;
    color: rgba(137, 138, 141, 1);
}

.side_bar_nav:hover {
    cursor: pointer;
    color: #3e3e4d;
}
.active_side_bar {
    color: #7676e8;
    background: #7990E1;
}

li {
    text-align: left;
    text-decoration: none;
    list-style-type: none;
}

  @media screen and (max-width: 1000px) {
    .side_bar {
        width: 78%;
        margin-left: 60px;
    }

    .menu_items{
        padding-top: 15px;
        gap: 0;
        text-align: left;
        font-size: 22px;
    }
    .items > h3 {
        font-size: 24px;
    }
}

@media screen and (max-width: 900px) {
    .side_bar {
        margin-left: 40px;
        width: 83%;
    }
    .items {
        margin-left: 15px;
    }
    .menu_items{
        padding-top: 15px;
        gap: 0;
        margin-right: 10px;
        text-align: left;
        font-size: 18px;
    }
    .items > h3 {
        font-size: 21px;
        white-space: nowrap;

    }
}

@media screen and (max-width: 720px) {
    .side_bar {
        margin-left: 25px;
    }
}

  @media screen and (max-width: 640px) {
    .side_bar {
        margin-left: 15px;
    }
}