.page_container {
    /* min-height: 100vh; */
    /* padding-top: 65px; */
    /* background-color: red; */
}

.user_layout_container {
    display: flex;
}

@media screen and (max-width: 680px) {
    .page_container {
        padding-top: 55px;
    }
}
@media screen and (max-width: 600px) {
    .page_container {
        padding-top: 58px;
    }
}
@media screen and (max-width: 380px) {
    .page_container {
        padding-top: 50px;
    }
}
