.user_layout_container {
    display: flex;
}

@media screen and (max-width: 680px) {
    .page_container {
        padding-top: 55px;
    }
}
@media screen and (max-width: 600px) {
    .page_container {
        padding-top: 54px;
    }
}
@media screen and (max-width: 380px) {
    .page_container {
        padding-top: 50px;
    }
}
