.home_container {
    display: flex;
    background-color: rgba(252, 252, 254, 1);
}


.home_left {
    flex: 1;
    padding: 200px 140px; 
}

h5 {
    font-weight: 700;
    font-size: 40px;
}

.home_right {
    display: flex;
    flex: 1;
}

.home_right_container {
    right: 40px;
    margin-top: 80px;
    margin-left: -130px;
    width: 459px;
    height: 500px;
    background-image: url('../../../public/home_img.png');
}


/* MEDIA QUERRIES FOR MEDIUM DEVICES */

@media screen and (max-width: 1024px) {

    .home_container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .home_right_container {
        margin-top: -150px;
        margin-left: 0px;
    }

    h5 {
        font-size: 30px;
        font-weight: 500;
    }
}

/*     ======== MEDIA QUERIES (SMALL DEVICES ======= */

  @media screen and (max-width: 600px) {

    .home_container {
        display: flex;
        flex-direction: column;
    }
    .home_left {
        flex: 1;
        padding: 40px 0 0 30px; 
    }

    .home_right {
        flex: 1;
    }

    .home_right_container {
        margin-left: -30px;
        width: 100%;
        height: 100%;
    }   

    h5 {
        font-size: 25px;
        font-weight: 500;
    }

  }

