.home_container {
    display: flex;
    background-color: rgba(252, 252, 254, 1);
    min-height: var(--container-height);
}

.home_left {
    flex: 1;
    padding: 80px 140px;
    margin-top: 55px;
    margin-left: 20px;
}

h5 {
    font-weight: 700;
    font-size: 43px;
}

.home_right {
    display: flex;
    flex: 1;
}

.home_right_container {
    margin-top: 25px;
}

.home_image {
    margin-top: 40px;
    width: 540px;
    height: 570px;
    margin-left: -140px;
}

.sign_in_up_btn {
    display: none;
}

.home_left > h3 {
    display: none;
}
.connect_img {
    display: none;
}
/* MEDIA QUERRIES FOR MEDIUM DEVICES */

@media screen and (max-width: 1024px) {
    .home_container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .home_right_container {
        margin-top: -50px;
    }

    h5 {
        font-size: 30px;
        font-weight: 500;
    }
}

@media screen and (max-width: 754px) {
    .home_image {
        margin-left: 30px;
        width: 450px;
        height: 500px;
        margin-top: -5px;
    }
}

/*     ======== MEDIA QUERIES (SMALL DEVICES ======= */

@media screen and (max-width: 600px) {
    .home_container {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        width: 100%;
        background-color: #fff;
    }
    .connect__img {
        width: 100%;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .connect_img {
        display: flex;
        width: 199px;
        height: 199px;
        border-radius: 50%;
        object-fit: cover;
    }
    .home_left > h3 {
        font-size: 26px;
        display: flex;
        font-weight: 600;
        color: var(--color-primary);
    }
    .home_left {
        flex: 1;
        margin-left: 0;
        padding: 0;
        position: relative;
        top: 6rem;
        align-items: center;
        flex-direction: column;
        display: flex;
        margin: 20px;
    }

    .home_left > h5 {
        padding: 0;
        text-align: center;
        margin-top: -4px;
        margin-left: 6px;
        font-size: 14px;
        font-weight: 400;
        width: 86%;
    }
    .sign_in_up_btn {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        margin-top: 50px;
        width: 100%;
    }
    .sign_up_button {
        text-decoration: none;
        color: #fff;
        background-color: var(--color-primary);
        font-size: 16px;
        height: 50px;
        width: 100%;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sign_in_button {
        text-decoration: none;
        color: var(--color-primary);
        background-color: #fff;
        border: 2px var(--color-primary) solid;
        font-size: 16px;
        height: 50px;
        width: 100%;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home_right {
        display: none;
    }

    h5 {
        font-size: 26px;
        font-weight: 600;
    }
}
