.home_container {
    display: flex;
    background-color: rgba(252, 252, 254, 1);
    min-height: var(--container-height);
}

.home_left {
    flex: 1;
    padding: 80px 140px;
    margin-top: 55px;
    margin-left: 20px;
}

h5 {
    font-weight: 700;
    font-size: 43px;
}

.home_right {
    display: flex;
    flex: 1;
}

.home_right_container {
    margin-top: 25px;
}

.home_image {
    margin-top: 40px;
    width: 540px;
    height: 570px;
    margin-left: -140px;
}

.sign_in_button {
    display: none;
}
/* MEDIA QUERRIES FOR MEDIUM DEVICES */

@media screen and (max-width: 1024px) {
    .home_container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .home_right_container {
        margin-top: -50px;
    }

    h5 {
        font-size: 30px;
        font-weight: 500;
    }
}

@media screen and (max-width: 754px) {
    .home_image {
        margin-left: 30px;
        width: 450px;
        height: 500px;
        margin-top: -5px;
    }
}

/*     ======== MEDIA QUERIES (SMALL DEVICES ======= */

@media screen and (max-width: 600px) {
    .home_container {
        display: flex;
        background-image: url('../Assets/image\ 1home.png');
        flex-direction: column;
        width: 100%;
    }
    .home_left {
        flex: 1;
        margin-left: 0;
        padding: 0;
        position: relative;
        top: 10rem;
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .home_left > h5 {
        padding: 0;
        opacity: 70%;
        background-color: white;
        text-align: center;
    }
    .sign_in_button {
        text-decoration: none;
        top: 5.5rem;
        background-color: #fff;
        color: var(--color-primary);
        width: 85px;
        font-size: 17px;
        height: 36px;
        opacity: 95%;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
    }

    .home_right {
        display: none;
    }

    h5 {
        font-size: 26px;
        font-weight: 600;
    }
}
