.home_container {
    display: flex;
    background-color: rgba(252, 252, 254, 1);
    min-height: var(--container-height);
}

.home_left {
    flex: 1;
    padding: 80px 140px;
    margin-top: 55px;
    margin-left: 20px;
}

h5 {
    font-weight: 700;
    font-size: 43px;
}

.home_right {
    display: flex;
    flex: 1;
}

.home_right_container {
    margin-top: 25px;
}

.home_image {
    margin-top: 40px;
    width: 540px;
    height: 570px;
    margin-left: -140px;
}

/* MEDIA QUERRIES FOR MEDIUM DEVICES */

@media screen and (max-width: 1024px) {
    .home_container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .home_right_container {
        margin-top: -50px;
    }

    h5 {
        font-size: 30px;
        font-weight: 500;
    }
}

@media screen and (max-width: 754px) {
    .home_image {
        margin-left: 30px;
        width: 450px;
        height: 500px;
        margin-top: -5px;
    }
}

/*     ======== MEDIA QUERIES (SMALL DEVICES ======= */

@media screen and (max-width: 600px) {
    .home_container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .home_left {
        flex: 1;
        padding: 40px 0 0 30px;
    }

    .home_right {
        flex: 1;
    }

    .home_image {
        margin-top: 35px;
        height: 450px;
        width: 420px;
    }

    h5 {
        font-size: 25px;
        font-weight: 500;
    }
}

/*     ======== MEDIA QUERIES (SMALLER DEVICES ======= */

@media screen and (max-width: 320px) {
    .home_container {
        display: flex;
        flex-direction: column;
        width: 95%;
    }
    .home_left {
        flex: 1;
        padding: 40px 0 0 30px;
    }
}
