 .header__container {
    background-color: var(--header-bg);
    position: fixed;
    height: 85px;
    z-index: 1;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    height: 85px;
    align-items: center;
    justify-content: center;
}

.left {
    flex: 0.9;
    display: flex;
    /* align-items:flex-end; */
    justify-content:flex-end;
    margin-right: 20px;
}

.left_cont {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    flex-direction: row;
}

.left_cont >span {
    color: var(--color-primary);
    font-weight: 700 bolder;
    font-size: 21px;
    margin-left: 55px;
}

.search_bar {
    display: flex;
    flex: 0.59;
    height: 50px;
    flex-direction: row;
    border: 1.4px solid  var(--color-primary);
    border-radius: 8px;
    align-items: center;
}

.search_bar_img {
    width: 25px;
    height: 25px;
    margin: 0 7px 0 15px;
}
.search:focus {
    background-color: transparent;
    border: none;
    outline: none;
}

Link {
    text-decoration: none;
}

.center {
    flex: 1.28;
}

.center_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.8rem;
    justify-content:center;
    text-decoration: none !important;
    margin-left: 30px;
    cursor: pointer;
}

.nav_bar {
    text-decoration: none;
}

.nav_bar_container {
    color: rgba(69, 90, 100, 1);
    font-size: 21px;
    font-weight: 600;
    text-decoration: none;
}

.center_icon {
    display: none !important;
}

.nav_bar_container > span:hover  {
    color: rgb(128, 157, 170);
    font-size: 22px;
    transition-duration: 0.25s;
}

.right {
    flex: 0.84;
    display: flex;
    text-align: center;
    margin-left: 10px;
}

.right_container {
    text-decoration: none;
}
.link_button {
    width: 170px;
    height: 50px;
    background-color: var(--color-primary);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.link_btn {
    border-color: transparent;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 20px;
    white-space: nowrap;
    font-weight: 700;
    transition: ease-in-out 0.3s;
}

.middle {
    flex: 0.33;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link_button:hover {
    background-color: rgb(10, 10, 202);
    transition: ease-in-out 0.2s;
}

.nav_bar_container:active {
    text-decoration: underline 3px rgba(0, 0, 0, 1);
    text-underline-offset: 7px;
}

.active_link {
    text-decoration: underline 3px rgba(0, 0, 0, 1);
    text-underline-offset: 7px;
}
.profile_pic {
    width: 60px;
    height:62px;
    border-radius: 43%;
}

/* MEDIA QUERRIES FOR MEDIUM DEVICES */

@media screen and (max-width: 1150px) {
    .left_cont >span {
        margin-left: 5px;
    }

    .search_bar {
        display: flex;
        flex: 0.4;
        height: 45px;
    }

    .search_bar_img {
        width: 25px;
        height: 25px;
        margin: 0 7px 0 15px;
    }

    .nav_bar_container {
        font-size: 18px;
    }
    .profile_pic {
        width: 47px;
        height:50px;
        border-radius: 43%;
    }
    .link_button {
        width: 150px;
        height: 50px;
    }
}

/* MEDIA QUERRIES FOR MEDIUM DEVICES */
@media screen and (max-width: 950px) {
    .center_container {
        gap: 0rem;
    }
    .nav_bar_container {
        font-size: 13px;
    }

    .search_bar {
        width: 20%;
    }
    .link_button {
        width: 115px;
    }
    .left_cont >span {
        font-size: 20px;
    }
}
@media screen and (max-width: 1024px) {
    .center_container {
        gap: 1rem;
    }
    .header__container {
        height: 80px;
    }
    .content {
        height: 85px;
    }
    .link_btn {
        padding: 7px 13px;
        font-size: 16px;
    }
}

  /*     ======== MEDIA QUERIES (SMALER DEVICES ======= */

  @media screen and (max-width: 810px) {
    .left_cont >span {
        margin-left: 15px;
    }
    .profile_pic {
        margin-left: 10px;
        width: 38px;
        height:42px;
        border-radius: 43%;
    }
  }
  /*     ======== MEDIA QUERIES (SMALER DEVICES ======= */

  @media screen and (max-width: 700px) {
    .nav_bar_container >span {
        font-size: 10px;
        margin: 4px;
    }
    .nav_bar_container > span:hover  {
        font-size: 18px;
    }
    .profile_pic {
        width: 28px;
        height: 30px;
        margin-top: 5px;
        margin-right: 10px;
    }
    .left_cont >span {
        font-size: 15px;
        font-weight: 300;
    }
    .link_btn {
        padding: 5px 9px;
        font-size: 15px;
        margin-right: 6px;
        overflow: hidden;
        white-space: nowrap;
    }
}

/*     ======== MEDIA QUERIES (SMALL DEVICES ======= */

  @media screen and (max-width: 600px) {
    .header__container {
        height: 70px;
        padding-top: 5px;
    }
    .content {
        height: 65px;
    }
    .center {
        flex: 2;
    }
    .right {
        flex: 1;
    }
    .search_bar {
        display: none;
    }
    .profile_pic {
        margin-right: -5px;
    }

    .nav_bar_container > span {
        display: none;
    }
    
    .center_icon {
        display: block !important;
        font-size: 26px !important;
        color: rgba(69, 90, 100, 1);
    }

    .center_container {
        width: 100%;
        background-color: white;
        height: 70px;
        display: block;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0rem;
        display: flex;
        gap: 4.5rem;
        margin-left: 0px;
        backdrop-filter: blur(15px);
    }
    h2 {
        font-size: 30px;
        margin-left: 10px;
    }
    .active_link {
        color: var(--color-primary) !important;
    }

    .link_btn {
        padding: 4px 10px;
        font-size: 12px;
    }
    .link_button {
        width: 90px;
        height: 42px;
    }
    .profile_pic {
        margin-left: 0px;
        width: 42px;
        height:45px;
        border-radius: 43%;
    }
    
  }
    
/*     ======== MEDIA QUERIES (SMALER DEVICES ======= */
@media screen and (max-width: 400px) {
    .left_cont >span {
        margin-left: 0;
    }
     .profile_pic {
        width: 28px;
        height: 30px;
        border-radius: 40%;
    }
    .link_button {
        width: 77px;
        height: 30px;
    }
}
  @media screen and (max-width: 350px) {
    .header__container {
        height: 45px;
    }
    .content {
        height: 50px;
    }
    .right_container {
        padding-right: 7px;
    }
    h2 {
        font-size: 22px;
    }
    .link_btn {
        padding: 3px 8px;
        font-size: 12px;
        margin-right: 6px;
    }
    .link_button {
        width: 60px;
        height: 30px;
    }
   
}
  @media screen and (max-width: 300px) {
    .header__container {
        height: 40px;
    }
    .content {
        height: 45px;
    }
    .center_container {
        gap: 3.2rem;
        margin-left: 0px;
    }
    h2 {
        font-size: 15px;
    }
    .link_btn {
        font-size: 8px;
        margin-right: 6px;
    }
}