.header__container {
    background-color: var(--header-bg);
    position: fixed;
    z-index: 1;
    width: 100%;
}

.content {
    display: flex;
    margin-top: 8px;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.left {
    flex: 1;
}

.left_cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    cursor: pointer;
}

.icon_logo {
    font-size: 30px;
    color: var(--color-primary);
}

Link {
    text-decoration: none;
}

h2 {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 38px;
}

.center {
    flex: 2.5;
}

.center_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    margin-left: 20px;
    cursor: pointer;
}

.nav_bar_container {
    color: rgba(69, 90, 100, 1);
}


.center_icon {
    display: none !important;
}

.nav_bar_container > span:hover  {
    color: rgb(128, 157, 170);
    font-size: 18px;
    transition-duration: 0.25s;
}

.right {
    flex: 0.8;
}

.right_container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.register_link {
    padding: 8px 25px;
    background-color: var(--color-primary);
    border-color: transparent;
    font-size: 16px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    transition: ease-in-out 0.3s;
}

.register_link:hover {
    background-color: rgb(10, 10, 202);
    transition: ease-in-out 0.2s;
}

/* MEDIA QUERRIES FOR MEDIUM DEVICES */

@media screen and (max-width: 1024px) {

    .register_link {
        padding: 7px 13px;
        font-size: 16px;
    }
}

/*     ======== MEDIA QUERIES (SMALL DEVICES ======= */

  @media screen and (max-width: 600px) {
    .header__container {
        padding-top: 5px;
    }
    .left {
       flex: 1; 
    }

    .icon_logo {
        font-size: 15px !important;
    }

    .center {
        flex: 2;
    }
    .right {
        flex: 1;
    }

    .nav_bar_container > span {
        display: none;
    }
    .center_icon {
        display: block !important;
        font-size: 26px !important;
        color: rgba(69, 90, 100, 1);
    }

    .center_container {
        width: max-content;
        background-color: white;
        display: block;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 2rem;
        display: flex;
        gap: 4.5rem;
        margin-left: 0px;
        border-radius: 3rem;
        backdrop-filter: blur(15px);
    }
    h2 {
        font-size: 35px;
    }

    .center_icon:hover , .active{
        color: var(--color-primary);
    }

    .register_link {
        padding: 4px 10px;
        font-size: 10px;
        border-radius: 3px;
        font-weight: 500;
        text-align: center;
        transition: ease-in-out 0.3;
    }
    
  }

  /*     ======== MEDIA QUERIES (SMALER DEVICES ======= */

  @media screen and (max-width: 700px) {
    .nav_bar_container >span {
        font-size: 12px;
        margin: 4px;
    }
    .register_link {
        padding: 5px 9px;
        font-size: 15px;       
    }
}

    
/*     ======== MEDIA QUERIES (SMALER DEVICES ======= */

  @media screen and (max-width: 350px) {
    h2 {
        font-size: 22px;
    }

}
  @media screen and (max-width: 300px) {
    .center_container {
        gap: 3.2rem;
        margin-left: 0px;
    }
    h2 {
        font-size: 15px;
    }

}