.header__container {
    background-color: var(--header-bg);
    position: fixed;
    height: 85px;
    z-index: 1;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    height: 85px;
    align-items: center;
    justify-content: center;
}

.left {
    flex: 0.9;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.left_cont {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    flex-direction: row;
}

.left_cont > span {
    color: var(--color-primary);
    font-weight: 700 bolder;
    font-size: 21px;
    margin-right: 40px;
}

.search_bar {
    display: flex;
    flex: 0.59;
    height: 50px;
    flex-direction: row;
    border: 1.4px solid var(--color-primary);
    border-radius: 8px;
    align-items: center;
}

.search_bar_img {
    width: 25px;
    height: 25px;
    margin: 0 7px 0 15px;
}
.search:focus {
    background-color: transparent;
    border: none;
    outline: none;
}

Link {
    text-decoration: none;
}

.center {
    flex: 1.28;
}

.center_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.9rem;
    justify-content: center;
    text-decoration: none !important;
    margin-left: 30px;
    cursor: pointer;
}

.nav_bar {
    text-decoration: none;
}

.nav_bar_container {
    color: rgba(69, 90, 100, 1);
    font-size: 19px;
    font-weight: 600;
    text-decoration: none;
}

.center_icon {
    display: none !important;
}

.nav_bar_container > span:hover {
    color: rgb(128, 157, 170);
    font-size: 22px;
    transition-duration: 0.25s;
    text-decoration: underline 3px rgba(0, 0, 0, 1);
    text-underline-offset: 7px;
}

.right {
    flex: 0.84;
    display: flex;
    text-align: center;
    margin-left: 10px;
}

.right_container {
    text-decoration: none;
}
.menu_bar {
    display: none;
}
.link_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link_btn {
    width: 170px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: var(--color-primary);
    border-color: transparent;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 20px;
    white-space: nowrap;
    font-weight: 700;
    transition: ease-in-out 0.3s;
}

.middle {
    flex: 0.33;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle > img {
    display: none;
}
.link_btn:hover {
    background-color: rgb(10, 10, 202);
    transition: ease-in-out 0.2s;
}

.nav_bar_container:active {
    text-decoration: underline 3px rgba(0, 0, 0, 1);
    text-underline-offset: 7px;
}

.active_link {
    text-decoration: underline 3px rgba(0, 0, 0, 1);
    text-underline-offset: 7px;
}
.profile_pic {
    width: 60px;
    height: 62px;
    border-radius: 43%;
}

/* MEDIA QUERRIES FOR MEDIUM DEVICES */

@media screen and (max-width: 1150px) {
    .left_cont > span {
        margin-left: 5px;
    }

    .search_bar {
        display: flex;
        flex: 0.4;
        height: 45px;
    }

    .search_bar_img {
        width: 25px;
        height: 25px;
        margin: 0 7px 0 15px;
    }

    .nav_bar_container {
        font-size: 18px;
    }
    .profile_pic {
        width: 47px;
        height: 50px;
        border-radius: 43%;
    }
    .link_btn {
        width: 150px;
        height: 50px;
    }
}

/* MEDIA QUERRIES FOR MEDIUM DEVICES */
@media screen and (max-width: 950px) {
    .center_container {
        gap: 0rem;
    }
    .nav_bar_container {
        font-size: 13px;
    }

    .search_bar {
        width: 20%;
    }
    .link_btn {
        width: 115px;
    }
    .left_cont > span {
        font-size: 20px;
    }
}
@media screen and (max-width: 1024px) {
    .center_container {
        gap: 1rem;
    }
    .header__container {
        height: 80px;
    }
    .content {
        height: 85px;
    }
    .link_btn {
        padding: 7px 13px;
        font-size: 16px;
    }
}

/*     ======== MEDIA QUERIES (SMALER DEVICES ======= */

@media screen and (max-width: 810px) {
    .left_cont > span {
        margin-left: 15px;
    }
    .profile_pic {
        margin-left: 10px;
        width: 38px;
        height: 42px;
        border-radius: 43%;
    }
}
/*     ======== MEDIA QUERIES (SMALER DEVICES ======= */

@media screen and (max-width: 700px) {
    .nav_bar_container > span {
        font-size: 10px;
        margin: 4px;
    }
    .nav_bar_container > span:hover {
        font-size: 18px;
    }
    .profile_pic {
        width: 28px;
        height: 30px;
        margin-top: 5px;
        margin-right: 10px;
    }
    .left_cont > span {
        font-size: 15px;
        font-weight: 300;
    }
    .link_btn {
        padding: 5px 9px;
        font-size: 15px;
        margin-right: 6px;
        overflow: hidden;
        white-space: nowrap;
    }
}

/*     ======== MEDIA QUERIES (SMALL DEVICES ======= */

@media screen and (max-width: 600px) {
    .header__container {
        height: 50px;
    }
    .content {
        height: 50px;
    }
    .menu_bar {
        margin-top: 3px;
        display: block;
    }
    .right_container {
        display: none;
    }
    .search_bar {
        display: none;
    }
    .nav_bar_container > span {
        display: none;
    }
    .middle > img {
        display: block;
        width: 20px;
        height: 20px;
    }
    .search_input > img {
        width: 20px;
        height: 20px;
    }
    .center_icon {
        display: block !important;
        font-size: 30px !important;
    }

    .center_container {
        width: 100%;
        background-color: white;
        height: 60px;
        display: block;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0rem;
        display: flex;
        justify-content: space-around;
        margin-left: 0px;
        backdrop-filter: blur(15px);
    }
    .nav_bar {
        color: rgb(117, 110, 110);
    }
    h2 {
        font-size: 25px;
        margin-left: 30px;
    }
    h2 > span {
        text-transform: lowercase;
    }
    .active_link {
        color: rgba(64, 123, 255, 1);
    }

    .link_btn {
        font-size: 8px;
        width: 50px;
        height: 28px;
    }

    .profile_pic {
        display: none;
    }
    .search_input > input {
        width: 260px;
        margin-left: 10px;
        font-size: 18px;
        margin-bottom: 2px;
    }
    .search_input_container {
        margin-top: 4px;
        display: flex;
        margin-right: 35px;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    .search_input {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 40px;
        width: 330px;
        border-radius: 20px;
        border: 1.8px solid #ced4d9;
    }
    .middle {
        margin-right: 0;
    }
    .right {
        margin-left: 0;
        flex: 0.45;
    }
}

/*     ======== MEDIA QUERIES (SMALER DEVICES ======= */
@media screen and (max-width: 550px) {
    h2 {
        margin-left: 0;
    }
}
@media screen and (max-width: 515px) {
    .left {
        margin-right: 30px;
        flex: 2;
    }
    .left_cont > span {
        margin-left: 12px;
    }
}

.draw_bar_container {
    position: fixed;
    z-index: 1300;
    inset: 0px;
    display: block;
}

.backdroup {
    opacity: 1;
    transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: -1;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;
}
.close_draw_bar {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    margin-right: 2px;
    margin-top: 2px;
    font-size: 30px;
}
.close_draw_bar > span {
    background-color: #dce2e9;
    border-radius: 50%;
    width: 40px;
    cursor: pointer;
    height: 40px;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
}
.close_draw_bar > span:hover {
    transition: 250ms ease-in-out;
    background-color: var(--color-primary);
}
.side_bar_items {
    margin-top: 20px;
}

.side_bar_menu {
    transform: none;
    left: auto;
    right: 0;
    top: 0;
    flex: 1 0 auto;
    height: 100%;
    display: flex;
    outline: 0;
    z-index: 1200;
    position: fixed;
    transition: 0.4s ease-in-out;
    overflow-y: auto;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0px 8px 10px -5px rgb(0 0 0 / 20%),
        0px 16px 24px 2px rgb(0 0 0 / 14%), 0px 6px 30px 5px rgb(0 0 0 / 12%);
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
    width: 250px;
}

.side_bar_link {
    text-decoration: none;
}
.side_bar_item {
    display: flex;
    color: rgb(57, 56, 56);
    height: 45px;
    gap: 1.5rem;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
}
.side_bar_item:hover {
    background-color: #dce2e9;
    transition: 225ms ease-out;
    cursor: pointer;
}
.side_bar_item > span {
    font-size: 17px;
}

.draw_bar_icon {
    margin-left: 15px;
    color: rgb(129, 126, 126);
    font-size: 23px !important;
}
