 .header__container {
    background-color: var(--header-bg);
    position: fixed;
    height: 100px;
    z-index: 1;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    height: 95px;
    align-items: center;
    gap: 2rem;
}

.left {
    flex: 0.8;
}

.left_cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    cursor: pointer;
}

.icon_logo {
    font-size: 30px;
    color: var(--color-primary);
}

Link {
    text-decoration: none;
}

h2 {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 35px;
}

.center {
    flex: 2.5;
}

.center_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    margin-left: 20px;
    cursor: pointer;
}

.nav_bar_container {
    color: rgba(69, 90, 100, 1);
    font-size: 14px;
}


.center_icon {
    display: none !important;
}

.nav_bar_container > span:hover  {
    color: rgb(128, 157, 170);
    font-size: 16px;
    transition-duration: 0.25s;
}

.right {
    flex: 0.8;
}

.right_container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.link_btn {
    padding: 8px 25px;
    background-color: var(--color-primary);
    border-color: transparent;
    font-size: 16px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 20px;
    white-space: nowrap;
    font-weight: 700;
    text-align: center;
    transition: ease-in-out 0.3s;
}

.middle {
    flex: 0.1;
}

.link_btn:hover {
    background-color: rgb(10, 10, 202);
    transition: ease-in-out 0.2s;
}

.nav_bar_container:active, .nav_bar_container:hover {
    text-decoration: underline rgba(0, 0, 0, 1);
}
.profile_pic {
    width: 28px;
    height: 30px;
    border-radius: 40%;
}
/* MEDIA QUERRIES FOR MEDIUM DEVICES */

@media screen and (max-width: 1024px) {

    .header__container {
        height: 80px;
    }
    .content {
        height: 85px;
    }
    .link_btn {
        padding: 7px 13px;
        font-size: 16px;
    }
}

  /*     ======== MEDIA QUERIES (SMALER DEVICES ======= */

  @media screen and (max-width: 700px) {
    .nav_bar_container >span {
        font-size: 10px;
        margin: 4px;
    }
    .link_btn {
        padding: 5px 9px;
        font-size: 15px;
        margin-right: 6px;
        overflow: hidden;
        white-space: nowrap;
    }
}

/*     ======== MEDIA QUERIES (SMALL DEVICES ======= */

  @media screen and (max-width: 600px) {
    .header__container {
        height: 70px;
    }
    .content {
        height: 75px;
    }

    .header__container {
        padding-top: 5px;
    }
    .left {
       flex: 1; 
    }

    .icon_logo {
        font-size: 15px !important;
    }

    .center {
        flex: 2;
    }
    .right {
        flex: 1;
    }

    .nav_bar_container > span {
        display: none;
    }
    .center_icon {
        display: block !important;
        font-size: 26px !important;
        color: rgba(69, 90, 100, 1);
    }

    .center_container {
        width: 100%;
        background-color: white;
        height: 70px;
        display: block;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0rem;
        display: flex;
        gap: 4.5rem;
        margin-left: 0px;
        /* border-radius: 3rem; */
        backdrop-filter: blur(15px);
    }
    h2 {
        font-size: 35px;
    }

    .center_icon:hover , .active{
        color: var(--color-primary);
    }

    .link_btn {
        padding: 4px 10px;
        font-size: 10px;
        border-radius: 3px;
        font-weight: 500;
        text-align: center;
        transition: ease-in-out 0.3;
    }
    
  }
    
/*     ======== MEDIA QUERIES (SMALER DEVICES ======= */

  @media screen and (max-width: 350px) {
    .header__container {
        height: 45px;
    }
    .content {
        height: 50px;
    }
    
    h2 {
        font-size: 22px;
    }
    .link_btn {
        padding: 3px 8px;
        font-size: 12px;
        margin-right: 6px;
    }
    .profile_pic {
        width: 28px;
        height: 30px;
        border-radius: 40%;
    }
}
  @media screen and (max-width: 300px) {
    .header__container {
        height: 40px;
    }
    .content {
        height: 45px;
    }
    .center_container {
        gap: 3.2rem;
        margin-left: 0px;
    }
    h2 {
        font-size: 15px;
    }
    .link_btn {
        font-size: 8px;
        margin-right: 6px;
    }

}

