.header__container {
    background-color: var(--header-bg);
    position: fixed;
    height: 70px;
    z-index: 1;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    height: 70px;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
}

.left {
    display: flex;
    flex-direction: row;
}

.left_cont {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.left_cont > span {
    color: var(--color-primary);
    font-weight: 700 bolder;
    font-size: 18px;
    margin-right: 30px;
}

.search {
    font-size: 13px;
}

.search_bar {
    display: flex;
    height: 37px;
    flex-direction: row;
    border: 1.4px solid var(--color-primary);
    border-radius: 8px;
    align-items: center;
}

.search_bar_img {
    width: 18px;
    height: 18px;
    margin: 0 4px 0 15px;
}
.search:focus {
    background-color: transparent;
    border: none;
    outline: none;
}

Link {
    text-decoration: none;
}

.center_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.4rem;
    justify-content: center;
    text-decoration: none !important;
    margin-left: 30px;
    cursor: pointer;
}

.nav_bar {
    text-decoration: none;
}

.nav_bar_container {
    color: rgba(69, 90, 100, 1);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.center_icon {
    display: none !important;
}

.nav_bar_item:hover {
    font-size: 15px;
}

.nav_bar_container > span:hover {
    color: rgb(128, 157, 170);
    transition-duration: 0.25s;
    text-decoration: underline 2px rgba(0, 0, 0, 1);
    text-underline-offset: 5px;
}

.right {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    text-align: center;
}

.menu_bar {
    display: none;
}
.link_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile_pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.link_btn {
    width: 115px;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: var(--color-primary);
    border-color: transparent;
    font-size: 13px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    white-space: nowrap;
    font-weight: 700;
    transition: ease-in-out 0.3s;
}

.middle {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle > img {
    display: none;
}
.link_btn:hover {
    background-color: rgb(10, 10, 202);
    transition: ease-in-out 0.2s;
}

.nav_bar_container:active {
    text-decoration: underline 2px rgba(0, 0, 0, 1);
    text-underline-offset: 5px;
}

.active_link {
    text-decoration: underline 2px rgba(0, 0, 0, 1);
    text-underline-offset: 5px;
}

.active_notification {
    display: none;
}

.active__notifications {
    display: flex;
}

.active_notifications {
    width: 15px;
    height: 15px;
    font-size: 12px;
    color: white;
    border-radius: 50%;
    text-decoration: underline white 10px;
    text-underline-offset: 5px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* DRAW BAR */

.draw_bar_container {
    position: fixed;
    z-index: 1300;
    inset: 0px;
    display: block;
}

.backdroup {
    opacity: 1;
    transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: -1;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;
}
.close_draw_bar {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    margin-right: 2px;
}

.drop_bar_btn {
    font-size: 35px !important;
    margin-right: 3px;
    cursor: pointer;
    display: flex;
    color: gray;
    justify-content: center;
    align-items: center;
}
.drop_bar_btn:hover {
    transition: 250ms ease-in-out;
    background-color: var(--color-primary);
}
.side_bar_items {
    margin-top: 15px;
}

.side_bar_menu {
    transform: none;
    left: auto;
    right: 0;
    top: 0;
    flex: 1 0 auto;
    height: 100%;
    display: flex;
    outline: 0;
    z-index: 1200;
    position: fixed;
    transition: 0.4s ease-in-out;
    overflow-y: auto;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0px 8px 10px -5px rgb(0 0 0 / 20%),
        0px 16px 24px 2px rgb(0 0 0 / 14%), 0px 6px 30px 5px rgb(0 0 0 / 12%);
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
    width: 250px;
}

.side_bar_link {
    text-decoration: none;
}
.side_bar_item {
    display: flex;
    color: rgb(57, 56, 56);
    height: 45px;
    gap: 1.5rem;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
}
.side_bar_item:hover {
    background-color: #dce2e9;
    transition: 225ms ease-out;
    cursor: pointer;
}
.side_bar_item > span {
    font-size: 17px;
}

.draw_bar_icon {
    margin-left: 15px;
    color: rgb(129, 126, 126);
    font-size: 23px !important;
}

/* MEDIA QUERRIES FOR MEDIUM DEVICES */

@media screen and (max-width: 1050px) {
    .content {
        gap: 0rem;
    }

    .left_cont > span {
        font-size: 16px;
        margin-right: 20px;
    }

    .search {
        font-size: 12px;
    }
    .search_bar {
        height: 35px;
    }
    .profile_pic {
        width: 36px;
        height: 36px;
    }
    .link_btn {
        width: 85px;
        height: 36px;
        font-size: 11.5px;
    }
}

/*     ======== MEDIA QUERIES (SMALER DEVICES ======= */
@media screen and (max-width: 900px) {
    .nav_bar_container {
        font-size: 12px;
    }
}
@media screen and (max-width: 850px) {
    .content {
        justify-content: space-around;
    }
    .menu_bar {
        margin-top: 3px;
        display: block;
    }
    .nav_bar_container > span {
        display: none;
    }
    .search_input > img {
        width: 20px;
        height: 20px;
    }
    .right {
        display: none;
    }
}

/*     ======== MEDIA QUERIES (SMALL DEVICES ======= */
@media screen and (max-width: 600px) {
    .header__container {
        height: 45px;
    }
    .content {
        height: 45px;
        justify-content: space-between;
        margin: 0 40px 0 15px;
    }
    .search_bar {
        display: none;
    }
    .middle > img {
        display: block;
        width: 20px;
        height: 20px;
    }
    .search_input > img {
        width: 20px;
        height: 20px;
    }
    .center_icon {
        display: block !important;
        font-size: 30px !important;
    }

    .center_container {
        width: 100%;
        background-color: white;
        height: 60px;
        display: block;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0rem;
        display: flex;
        justify-content: space-around;
        margin-left: 0px;
        backdrop-filter: blur(15px);
    }
    .nav_bar {
        color: rgb(117, 110, 110);
    }
    .center_notification {
        display: flex;
    }
    .active_notification {
        text-decoration: none;
        position: absolute;
        background-color: red;
        width: 17px;
        height: 17px;
        margin-left: 18px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: #fff;
        font-size: 12px;
        display: flex;
        text-underline-offset: none;
    }
    .active_link {
        text-underline-offset: none;
        text-decoration: none;
    }

    h2 {
        font-size: 22px;
        margin-left: 30px;
    }
    h2 > span {
        text-transform: lowercase;
    }
    .active_link {
        color: rgba(64, 123, 255, 1);
    }

    .link_btn {
        font-size: 8px;
        width: 50px;
        height: 28px;
    }

    .profile_pic {
        display: none;
    }
    .search_input > input {
        width: 260px;
        margin-left: 10px;
        font-size: 18px;
        margin-bottom: 2px;
    }
    .search_input_container {
        margin-top: 4px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    .search_input {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 40px;
        width: 330px;
        border-radius: 20px;
        border: 1.8px solid #ced4d9;
    }
    .middle {
        margin-right: 0;
    }
}

@media screen and (max-width: 515px) {
    .content {
        margin: 0 18px 0 0;
    }
    .left_cont {
        margin-right: 0;
    }
    h2 {
        margin-left: 15px;
    }
}
