.color_picker_container {
    display: flex;
    flex-direction: column;
}

.color-block {
    width: 17px;
    height: 17px;
    display: inline-block;
    margin: 4px;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(100, 95, 95, 0.5);
    cursor: pointer;
}
