.contactes {
    display: flex;
    font-display: auto;
}

.input_icon_container {
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
    justify-content: space-around;
    align-items: center;
    margin-top: 4px;
    gap: 0.5rem;
}

.inputs {
    text-decoration: none;
    outline: 0;
    font-size: 15px;
    letter-spacing: 1px;
    color: rgb(21, 28, 34);
    border: 0;
    transition: ease-in-out 0.3s;
    padding: 1px 2px;
    border-width: 2px;
}

.input_icon {
    top: 0.4rem;
    color: rgb(102, 99, 99);
}

.left_icon {
    margin-top: 4px;
    margin-left: 4px;
    transform: scale(0.7);
}

.right_icon {
    margin-top: 9px;
    top: 1rem;
    right: 8px;
    transform: scale(0.8);
}

.error_message {
    font-size: 11px;
    color: red;
    margin-top: 12px;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 15px;
}

/*     ======== MEDIA QUERIES (SMALER DEVICES ======= */

  @media screen and (max-width: 1080px) {

      .contactes {
          align-items: center;
          justify-content: center;
      }
    .input_icon_container {
        width: 35%;
        /* padding-left: 30px; */
    }
}
/*     ======== MEDIA QUERIES (SMALER DEVICES ======= */

  @media screen and (max-width: 600px) {

    .input_icon_container {
        width: 60%;
        align-items: center;
        justify-content: center;
    }
    .inputs {
        text-decoration: none;
        font-size: 11px;
        letter-spacing: 0px;
    }
    .left_icon {
        padding-left: 4px;
        margin-bottom: 0;
    }
    .right_icon {
        margin-top: 5px;
    }
}

/*     ======== MEDIA QUERIES (SMALER DEVICES ======= */

  @media screen and (max-width: 450px) {
    .input_icon_container {
        width: 80%;
    }
    
    .input_icon , .right_icon {
        margin-bottom: -10px;
    }
    .left_icon {
        padding-left: 3px;
        margin-top: 0;
    }
    .inputs {
        font-size: 8px;
    }
    .right_icon {
        margin-left: -5px;       
    }

}
@media screen and (max-width: 320px) {
    .contactes {
        max-width: 80%;
    }
    .input_icon_container {
        width: 82%;
    }
}