.input_icon_container {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    gap: 0.15rem;
}

.input_icon {
    color: rgba(99, 100, 99, 1);
    transform: scale(0.85);
    margin-left: 10px;
}

.right_icon {
    position: absolute;
    left: 15.5rem;
}

input {
    border: none;
    background-color: none;
}

.inputs {
    width: 223px;
    text-decoration: none;
    outline: 0;
    letter-spacing: 1px;
    border: 0;
    transition: ease-in-out 0.3s;
    border-color: transparent !important;
    border: none;
}

.inputs:hover {
    border: none;
    border-color: transparent !important;
}
input:focus {
    outline: none;
    /* background-color: darkmagenta !important; */
    background-color: transparent !important;
    border-color: transparent !important;
}

.error_message {
    font-size: 11px;
    color: red;
    margin-top: 8px;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 15px;
}

.text_area {
    width: 100%;
    height: 160px;
    padding: 10px;
    font-size: 16px;
    border: 1px dashed #ced4d9;
    border-radius: 5px;
    resize: none;
}
.text_area:focus {
    outline: none;
}
/*     ======== MEDIA QUERIES (SMALER DEVICES ======= */

@media screen and (max-width: 580px) {
    .input_icon_container {
        padding-top: 1.5px;
        gap: 0rem;
    }
    .text_area {
        height: 100px;
    }
    .inputs {
        width: 153px;
    }

    .input_icon {
        color: rgba(99, 100, 99, 1);
        transform: scale(0.85);
        margin-top: 1px;
        margin-left: 3px;
    }
    .right_icon {
        position: relative;
        left: -10px;
    }
    .input_icon {
        transform: scale(0.71);
    }
}
