.dashboard_container {
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 10px;
}

.dash_board_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    border-radius: 16px;
    background-color: #ffffff;
}

.dashboard_top {
    display: flex;
    font-size: 25px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profile__image {
    margin: 0 22px 0 35px;
    width: 55px;
    height: 55px;
    border-radius: 22px;
    object-fit: cover;
}

.share_input {
    font-size: 23px;
    font-weight: 600;
}

.feed_content {
    display: flex;
    border-radius: 20px;
    margin-top: 15px;
    padding: 5px 15px 15px 15px;
    background-color: #ffffff;
    flex-direction: column;
}

.feed_top {
    margin: 0 0px 12px 0px;
    display: flex;
    flex-direction: row;
}

.profile__pix {
    width: 91px;
    height: 91px;
    border-radius: 15px;
    background-color: white;
    object-fit: cover;
}
.profile_commnet {
    width: 70px;
    height: 72px;
}

.feed_top > div {
    margin-left: 25px;
    cursor: pointer;
    display: flex;
    line-height: 25px;
    margin-top: 9px;
    color: rgba(151, 154, 150, 1);
    flex-direction: column;
    font-weight: 700;
}

.post_author {
    font-size: 24px;
}

.author_job_role {
    font-size: 18px;
    font-weight: 500;
}

.time_container {
    display: flex;
    gap: 0.4rem;
}
.time {
    font-weight: 500;
    font-size: 16px;
}

.dot {
    color: rgba(217, 217, 217, 1);
    font-size: 36px;
    margin-top: -8px;
}

.post_container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    color: rgba(151, 154, 150, 1);
    gap: 0.3rem;
}
.post_title {
    font-weight: 700;
    color: black;
}
.gif_post_title {
    font-weight: 500;
}

.post {
    height: 100%;
    width: 98%;
    background-color: white;
    object-fit: cover;
    margin-top: 10px;
}

.large_length_post {
    line-height: 35px;
    padding-top: 15px;
    font-size: 25px;
}

.small_length_post {
    margin-top: 10px;
    align-items: center;
    display: flex;
    font-size: 28px;
    padding: 30px;
    text-align: center;
}

.like_comment_container {
    display: flex;
    margin-top: 26px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    color: rgba(151, 154, 150, 1);
}

.feeds_hr {
    margin-top: 20px;
    height: 2px;
    background-color: rgb(191, 181, 181);
}

.like {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
    cursor: pointer;
}

.like_icon {
    font-size: 30px !important;
}
.like > div {
    display: flex;
}
.is_like_icon {
    font-size: 30px !important;
    color: var(--color-primary);
}

.like_icon:hover {
    color: var(--color-primary);
    font-size: 32px !important;
    transition: 2s ease-in-out;
}
.is_like_icon:hover {
    color: rgba(151, 154, 150, 1);
    font-size: 32px !important;
    transition: 2s ease-in-out;
}

.comment {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
}

.comment_Icon {
    width: 24px;
    height: 24px;
}

.number_of_likes_comment {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    color: rgba(151, 154, 150, 1);
}

.number_of_likes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.number_of_comments {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
    justify-content: center;
}

.post_comment_container {
    display: flex;
    margin-top: 20px;
    gap: 2rem;
    flex-direction: row;
    align-items: center;
}

.comment_section {
    padding-right: 35px;
    border-radius: 10px;
    line-height: 21px;
    width: 100%;
    display: flex;
    background: rgba(245, 245, 245, 1);
}

.comment__section {
    display: flex;
    margin-left: 30px;
    flex-direction: column;
    margin-top: 10px;
    gap: 0.2rem;
    margin-bottom: 8px;
    color: rgba(151, 154, 150, 1);
}
.comment__section > span {
    font-size: 20px;
    font-weight: 700;
}

.loading_container {
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.loading_more {
    display: flex;
    align-items: center;
    justify-content: center;
}
.end_message {
    display: flex;
    align-items: center;
    justify-content: center;
}
.end_message > div {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    gap: 0.2rem;
    margin-top: 8px;
    padding: 10px 40px;
    color: #fff;
    border-radius: 3px;
    background-color: var(--color-primary);
}

.bottom_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
}

.arrow_up {
    color: var(--color-primary);
    font-size: 30px !important;
}

.arrow_up:hover {
    background-color: var(--color-primary);
    color: #fff;
    font-size: 31px !important;
    transition: 255ms ease-in-out;
}

/*  GIF MODAL CSS */
.view_container {
    position: fixed;
    z-index: 1300;
    inset: 0px;
    display: flex;
    justify-content: center;
    background-color: black;
}
.author_profile {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    margin-top: 5px;
    margin-left: 20px;
    border-radius: 50%;
}
.close_img {
    color: red;
    right: 0;
    margin-right: 5rem;
    margin-top: 3px;
    width: 50px;
    background-color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    font-size: 40px;
}
.close_img:hover {
    background-color: #989292;
}
.bigger_img {
    width: 600px;
}

/* COMMENT MODAL CSS */

.single_modal_container {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(27, 27, 27, 0.541);
    align-items: center;
    z-index: 999;
}

.modal_holder {
    flex-direction: column;
    width: 600px;
    overflow-y: initial !important;
    position: fixed;
    height: 650px;
    background-color: #fff;
    transition: 2s ease-in-out;
    border-radius: 8px;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
}

.close_modal {
    font-size: 25px;
    width: 33px;
    height: 33px;
    margin-right: 5px;
    position: absolute;
    right: 0;
    align-items: center;
    display: flex;
    border-radius: 50%;
    color: #fff;
    justify-content: center;
    background-color: #d5cbcb;
}
.close_modal:hover {
    cursor: pointer;
    transition: 0.5s ease-out;
    background-color: #b3adad;
}
.post___container {
    margin: 18px;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
.profile_top {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}

.profile_img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
.post_user_name {
    color: black;
}

.post_time {
    display: flex;
    flex-direction: row;
}

.gif_post {
    width: 560px;
    height: 300px;
}

.comment_author_profile_pix {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.comments {
    display: flex;
    margin-top: 8px;
    gap: 0.5rem;
    flex-direction: row;
}

.comment___container {
    border-radius: 10px;
    margin-bottom: 5px;
    width: 100%;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    background: rgba(245, 245, 245, 1);
}
.comment___container > span {
    margin: 2px 0 2px 10px;
}
.comment_bottom {
    height: 30px;
    background-color: #fff;
}

.post_comment__container {
    height: 50px;
    width: 560px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3.4rem;
    margin-left: 0px;
}

.user_profile_pix {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.add_comment_container {
    display: flex;
    gap: 0.6rem;
    flex-direction: row;
    align-items: center;
}
.comment_input_container {
    background-color: rgb(245, 245, 245);
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    width: 483px;
}

.comment_input {
    width: 463px;
    font-size: 14px;
    background-color: transparent;
}

.send {
    margin-left: 7px;
    width: 290px;
    height: 35px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
    background-color: transparent;
    border: none;
    color: var(--color-primary);
    transition: ease-in-out 0.3s;
}

@media screen and (max-width: 600px) {
    .dashboard_container {
        margin: 0 30px 0 22px;
    }
    .dash_board_container {
        padding-bottom: 90px;
    }
    .dash_board_top {
        height: 55px;
        border-radius: 0;
    }
    .share_input {
        font-size: 15px;
    }
    .feed_content {
        margin-top: 5px;
        padding: 3px 10px 10px 10px;
    }
    .profile__image {
        margin: 0 12px 0 18px;
        width: 38px;
        height: 38px;
        border-radius: 15px;
    }
    .profile__pix {
        width: 40px;
        height: 40px;
    }
    .feed_top {
        margin: 0;
    }
    .feed_top > div {
        margin-left: 10px;
        line-height: 15px;
        margin-top: 4px;
    }

    .post_author {
        font-size: 16px;
    }

    .author_job_role {
        font-size: 11px;
        display: none;
    }

    .time_container {
        gap: 0.1rem;
    }
    .time {
        font-size: 10px;
    }

    .dot {
        font-size: 16px;
        margin-top: -2px;
    }
    .post_container {
        gap: 0rem;
    }
    .post {
        margin-top: 6px;
    }
    .large_length_post {
        font-size: 18px;
        line-height: 1.3;
    }
    .comment__section > div {
        font-size: 13px;
    }

    /*  GIF MODAL CSS */
    .author_profile {
        display: none;
    }
    .close_img {
        right: 0;
        top: 1rem;
        margin-right: 1rem;
        cursor: pointer;
        position: absolute;
        font-size: 40px;
    }
    .bigger_img {
        width: 99%;
        top: 9rem;
        border-radius: 5px;
        position: absolute;
        height: 600px;
    }

    /* COMMENT MODAL CSS */
    .post___container {
        margin: 18px;
        max-height: calc(90vh - 180px);
        overflow-y: auto;
    }
    .modal_holder {
        width: 98%;
        height: 730px;
    }
    .modal_holder > div > span {
        padding-top: 10px;
        font-size: 14px;
    }
    .close_modal {
        margin-top: 5px;
        font-size: 18px;
        width: 26px;
        height: 26px;
        border-radius: 50%;
    }
    .profile_img {
        width: 40px;
        height: 40px;
    }
    .gif_post {
        width: 362px;
        height: 280px;
    }
    .comments____container {
        margin-top: 10px;
    }
    .comments {
        width: 98%;
    }
    .post_comment__container {
        height: 50px;
        width: 94%;
        bottom: 5.2rem;
    }

    .comment_input_container {
        height: 30px;
        width: 310px;
    }
    .comment_input {
        width: 295px;
        margin-left: 5px;
        font-size: 13px;
        padding-top: 2px;
    }
}

@media screen and (max-width: 530px) {
    .dashboard_container {
        margin: 0;
        width: 100%;
    }
    .dash_board_top {
        border-radius: 0;
    }
    .profile__image {
        margin: 0 15px 0 17px;
    }
    .share_input {
        font-size: 16px;
    }

    .feed_top {
        margin: 0 0px 2px 0px;
    }
    .post_container {
        margin-top: 20px;
        color: rgba(151, 154, 150, 1);
        gap: 0.3rem;
    }
    .post {
        margin-top: 6px;
    }
    .small_length_post {
        margin-top: 5px;
        padding: 23px;
        font-size: 21px;
    }
    .large_length_post {
        padding-top: 7px;
        font-size: 24px;
        line-height: 1.3;
    }
    .post_comment_container {
        gap: 1.3rem;
    }
    .comment_section {
        width: 100%;
    }

    .comment__section {
        margin-left: 20px;
        margin-top: 16px;
        gap: 0rem;
    }
    .comment__section > span {
        font-size: 18px;
        font-weight: 700;
    }
}

@media screen and (max-width: 380px) {
    .dash_board_top {
        height: 50px;
        border-radius: 0;
    }
    .profile__image {
        width: 37px;
        height: 37px;
    }
    .share_input {
        font-size: 13px;
    }
    .profile__pix {
        width: 40px;
        height: 40px;
    }
    .feed_content {
        border-radius: 20px;
        margin-top: 10px;
        padding: 2px 10px 10px 10px;
    }
    .feed_top {
        margin: 0px;
    }
    .feed_top > div {
        margin-left: 8px;
        line-height: 12px;
        margin-top: 3px;
    }

    .post_author {
        font-size: 12px;
    }

    .author_job_role {
        font-size: 10px;
    }

    .time_container {
        gap: 0.15rem;
    }
    .time {
        font-size: 9px;
    }

    .dot {
        font-size: 17px;
        margin-top: -3px;
    }

    .post_container {
        margin-top: 8px;
        gap: 0rem;
    }

    .post_title {
        font-size: 14px;
    }
    .small_length_post {
        margin-top: 4px;
        padding: 17px;
        font-size: 18px;
    }
    .large_length_post {
        padding-top: 5px;
        font-size: 21px;
        line-height: 1.3;
    }
    .gif_post_title {
        font-size: 12px;
    }
    .post_comment_container {
        gap: 1.3rem;
    }
    .comment_section {
        /* height: 100px; */
        width: 100%;
    }

    .comment__section > span {
        font-size: 18px;
        font-weight: 700;
    }

    .like_comment_container {
        margin-top: 14px;
        font-size: 14px;
    }

    .like {
        gap: 0.4rem;
    }

    .comment {
        gap: 0.3rem;
    }

    .comment_Icon {
        width: 18px;
        height: 18px;
    }

    .like_icon {
        margin-bottom: 3px;
    }

    .post_comment_container {
        gap: 1.3rem;
    }
    .comment_section {
        height: 80px;
        width: 100%;
    }

    .comment__section {
        margin-left: 20px;
        margin-top: 12px;
        gap: 0rem;
    }
    .comment__section > span {
        font-size: 13px;
    }
    .comment__section > div {
        font-size: 14px;
    }
}
