.dashboard_container {
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 10px;
}

.dash_board_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    border-radius: 16px;
    background-color: #ffffff;
}

.dashboard_top {
    display: flex;
    font-size: 25px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profile__image {
    margin: 0 22px 0 35px;
    width: 55px;
    height: 55px;
    border-radius: 22px;
    object-fit: cover;
}

.share_input {
    font-size: 23px;
    font-weight: 600;
}

.feed_content {
    display: flex;
    border-radius: 20px;
    margin-top: 15px;
    padding: 5px 15px 15px 15px;
    background-color: #ffffff;
    flex-direction: column;
}

.feed_top {
    margin: 0 0px 12px 0px;
    display: flex;
    flex-direction: row;
}

.profile__pix {
    width: 91px;
    height: 91px;
    border-radius: 15px;
    background-color: white;
    object-fit: cover;
}
.profile_commnet {
    width: 70px;
    height: 72px;
}

.feed_top > div {
    margin-left: 25px;
    display: flex;
    line-height: 25px;
    margin-top: 9px;
    color: rgba(151, 154, 150, 1);
    flex-direction: column;
    font-weight: 700;
}

.post_author {
    font-size: 24px;
}

.author_job_role {
    font-size: 18px;
    font-weight: 500;
}

.time_container {
    display: flex;
    gap: 0.4rem;
}
.time {
    font-weight: 500;
    font-size: 16px;
}

.dot {
    color: rgba(217, 217, 217, 1);
    font-size: 36px;
    margin-top: -8px;
}

.post_container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    color: rgba(151, 154, 150, 1);
    gap: 0.3rem;
}
.post_title {
    font-weight: 700;
    color: black;
}
.gif_post_title {
    font-weight: 500;
}

.post {
    height: 300px;
    background-color: white;
    object-fit: cover;
    margin-top: 10px;
}

.large_length_post {
    line-height: 35px;
    padding-top: 15px;
    font-size: 25px;
}

.small_length_post {
    margin-top: 10px;
    align-items: center;
    display: flex;
    font-size: 28px;
    padding: 30px;
    text-align: center;
}

.like_comment_container {
    display: flex;
    margin-top: 26px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    color: rgba(151, 154, 150, 1);
}

.feeds_hr {
    margin-top: 20px;
    height: 2px;
    background-color: rgb(191, 181, 181);
}

.like {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
    cursor: pointer;
}

.comment {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
}

.comment_Icon {
    width: 24px;
    height: 24px;
}

.number_of_likes_comment {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    color: rgba(151, 154, 150, 1);
}

.number_of_likes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.like_icon {
    margin-bottom: 3px;
}

.number_of_comments {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
    justify-content: center;
}

.post_comment_container {
    display: flex;
    margin-top: 20px;
    gap: 2rem;
    flex-direction: row;
    align-items: center;
}

.comment_section {
    padding-right: 35px;
    border-radius: 10px;
    height: 120px;
    width: 100%;
    display: flex;
    background: rgba(245, 245, 245, 1);
}

.comment__section {
    display: flex;
    margin-left: 30px;
    flex-direction: column;
    margin-top: 16px;
    gap: 0.2rem;
    color: rgba(151, 154, 150, 1);
}
.comment__section > span {
    font-size: 20px;
    font-weight: 700;
}

.loading_container {
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.loading_more {
    display: flex;
    align-items: center;
    justify-content: center;
}
.end_message {
    display: flex;
    align-items: center;
    justify-content: center;
}
.end_message > div {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    gap: 0.2rem;
    margin-top: 8px;
    padding: 10px 40px;
    color: #fff;
    border-radius: 3px;
    background-color: var(--color-primary);
}

@media screen and (max-width: 600px) {
    .dash_board_container {
        padding-bottom: 90px;
    }
}
@media screen and (max-width: 450px) {
    .dashboard_container {
        margin: 0;
        width: 100%;
    }
    .dash_board_top {
        height: 70px;
        border-radius: 0;
    }
    .profile__image {
        margin: 0 15px 0 17px;
        width: 45px;
        height: 45px;
        border-radius: 15px;
    }
    .share_input {
        font-size: 16px;
    }
    .profile__pix {
        width: 55px;
        height: 55px;
    }
    .feed_top {
        margin: 0 0px 2px 0px;
    }
    .feed_top > div {
        margin-left: 12px;
        line-height: 18px;
        margin-top: 2px;
    }

    .post_author {
        font-size: 18px;
    }

    .author_job_role {
        font-size: 14px;
    }

    .time_container {
        gap: 0.3rem;
    }
    .time {
        font-size: 13px;
    }

    .dot {
        font-size: 25px;
        margin-top: -6px;
    }

    .post_container {
        margin-top: 20px;
        color: rgba(151, 154, 150, 1);
        gap: 0.3rem;
    }
    .post {
        height: 250px;
        width: 330px;
        margin-top: 6px;
    }
    .small_length_post {
        margin-top: 5px;
        padding: 23px;
        font-size: 21px;
    }
    .large_length_post {
        padding-top: 7px;
        font-size: 24px;
        line-height: 1.3;
    }
    .post_comment_container {
        gap: 1.3rem;
    }
    .comment_section {
        height: 100px;
        width: 100%;
    }

    .comment__section {
        margin-left: 20px;
        margin-top: 16px;
        gap: 0rem;
    }
    .comment__section > span {
        font-size: 18px;
        font-weight: 700;
    }
}

@media screen and (max-width: 380px) {
    .dash_board_top {
        height: 50px;
        border-radius: 0;
    }
    .profile__image {
        width: 37px;
        height: 37px;
    }
    .share_input {
        font-size: 13px;
    }
    .profile__pix {
        width: 40px;
        height: 40px;
    }
    .feed_content {
        border-radius: 20px;
        margin-top: 10px;
        padding: 2px 10px 10px 10px;
    }
    .feed_top {
        margin: 0px;
    }
    .feed_top > div {
        margin-left: 8px;
        line-height: 12px;
        margin-top: 3px;
    }

    .post_author {
        font-size: 12px;
    }

    .author_job_role {
        font-size: 10px;
    }

    .time_container {
        gap: 0.15rem;
    }
    .time {
        font-size: 9px;
    }

    .dot {
        font-size: 17px;
        margin-top: -3px;
    }

    .post_container {
        margin-top: 8px;
        gap: 0rem;
    }

    .post {
        height: 200px;
    }
    .post_title {
        font-size: 14px;
    }
    .small_length_post {
        margin-top: 4px;
        padding: 17px;
        font-size: 18px;
    }
    .large_length_post {
        padding-top: 5px;
        font-size: 21px;
        line-height: 1.3;
    }
    .gif_post_title {
        font-size: 12px;
    }
    .post_comment_container {
        gap: 1.3rem;
    }
    .comment_section {
        height: 100px;
        width: 100%;
    }

    .comment__section > span {
        font-size: 18px;
        font-weight: 700;
    }
    /* comments */
    .like_comment_container {
        margin-top: 14px;
        font-size: 14px;
    }

    .like {
        gap: 0.4rem;
    }

    .comment {
        gap: 0.3rem;
    }
    .like_img {
        width: 19px;
        height: 19px;
    }

    .comment_Icon {
        width: 18px;
        height: 18px;
    }

    .like_icon {
        margin-bottom: 3px;
    }

    .post_comment_container {
        gap: 1.3rem;
    }
    .comment_section {
        height: 80px;
        width: 100%;
    }

    .comment__section {
        margin-left: 20px;
        margin-top: 12px;
        gap: 0rem;
    }
    .comment__section > span {
        font-size: 13px;
    }
    .comment__section > div {
        font-size: 14px;
    }
}
