.dashboard_container {
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 10px;
}

.dash_board_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    border-radius: 16px;
    background-color: #FFFFFF;
}

.dashboard_top {
    display: flex;
    font-size: 25px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profile__image {
    margin: 0 22px 0 35px;
    width: 55px;
    height: 55px;
    border-radius: 22px;
    object-fit: cover;
}

.share_input {
    font-size: 23px;
    font-weight: 600;
}


.feed_content {
    display: flex;
    border-radius: 20px;
    margin-top: 15px;
    padding: 5px 15px 15px 15px;
    background-color: #FFFFFF;
    flex-direction: column;
}

.feed_top {
    margin: 0 0px 12px 0px;
    display: flex;
    flex-direction: row;
}

.profile__pix {
    width: 91px;
    height: 91px;
    border-radius: 15px;
    background-color: white;
    object-fit: cover;
}

.feed_top >div {
    margin-left: 25px;
    display: flex;
    line-height: 25px;
    margin-top: 9px;
    color: rgba(151, 154, 150, 1);
    flex-direction: column;
    font-weight: 700;
}

.post_author {
    font-size: 24px;
}

.author_job_role {
    font-size: 18px;
    font-weight: 500;
}

.time_container {
    display: flex;
    gap: 0.4rem;
}
.time {
    font-weight: 500;
    font-size: 16px;
}

.dot {
    color: rgba(217, 217, 217, 1);
    font-size: 36px;
    margin-top: -8px;
}

.post_container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    color: rgba(151, 154, 150, 1);
    gap: 0.3rem;
}
.post_title {
    font-weight: 700;
    color: black;
}
.gif_post_title {
    font-weight: 500;
}

.post {
    height: 300px;
    background-color: white;
    object-fit: cover;
    margin-top: 10px;
}

.large_length_post {
    line-height: 35px;
    padding-top: 15px;
    font-size: 25px;
}

.small_length_post{
    margin-top: 10px;
    align-items: center;
    display: flex;
    font-size: 28px;
    padding: 30px;
    text-align: center;
}

.like_comment_container {
    display: flex;
    margin-top: 26px;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    font-size: 18px;
    color: rgba(151, 154, 150, 1);

}

.feeds_hr{
    margin-top: 20px;
    height: 2px;
    background-color: rgb(191, 181, 181);
}

.like {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
    cursor: pointer;
}

.comment {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
}

.comment_Icon {
    width: 24px;
    height: 24px;
}

.number_of_likes_comment {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content:space-between;
    font-size: 18px;
    color: rgba(151, 154, 150, 1);   
}

.number_of_likes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.like_icon {
    margin-bottom: 3px;
}

.number_of_comments {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
    justify-content: center;
}

.post_comment_container {
    display: flex;
    margin-top: 20px;
    gap: 2rem;
    flex-direction: row;
    align-items: center;
}

.comment_section {
    padding-right: 35px;
    border-radius: 10px;
    height: 120px;
    display: flex;
    background: rgba(245, 245, 245, 1);
}

.comment__section {
    display: flex;
    margin-left: 30px;
    flex-direction: column;
    margin-top: 16px;
    gap: 0.2rem;
    color: rgba(151, 154, 150, 1);   
}
.comment__section >span {
    font-size: 20px;
    font-weight: 700;
}